<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Servidigital CTP | Soluciones gráficas en Barranquilla
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	style.
		@font-face{font-family:Lato;font-style:normal;font-weight:400;src:local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v14/nQhiC-wSiJx0pvEuJl8d8A.eot#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff")}@font-face{font-family:Lato;font-style:normal;font-weight:700;src:local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v14/sBtfDPlEIwvKKU53nAG7AQ.eot#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff")}body{font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;margin:0;padding:0}.Portada{padding-bottom:5em;position:relative}.Portada .videoContenedor{position:absolute;width:100%;top:0;right:0;left:0;z-index:-1}.Portada .videoContenedor video{min-width:100%;min-height:100%}.Portada .header{display:flex;justify-content:space-between;width:100%;padding-top:1em}.Portada .header .logo{width:20%}.Portada .header .logo .img{width:100%}.Portada .header .menu{display:flex;list-style:none}.Portada .header .menu a{padding:2em;text-decoration:none;font-size:17.6px;font-size:1.1rem;color:#fff}.Portada .copy{background:#000;background:rgba(0,0,0,.8);width:70%;border-radius:5px;text-transform:uppercase;text-align:center;padding:2em 0 4em;margin:4em auto}.Portada .copy .title{color:#ff008d;font-size:48px;font-size:3rem}.Portada .copy .subtitle{color:#292c97;font-size:32px;font-size:2rem;margin-bottom:2em;font-weight:400}.Portada .copy .btn{background:#292c97;color:#fff;text-decoration:none;padding:1em 2em;border-radius:15px;font-size:17.6px;font-size:1.1rem}.Informacion{background:#0090d6;background:rgba(0,144,214,.9);padding:20em 10em 0 0;text-align:center;width:50%;-webkit-clip-path:polygon(0 0,100% 50%,0 100%);clip-path:polygon(0 0,100% 50%,0 100%);position:absolute;top:35%;height:140%;box-sizing:border-box}.Informacion .descripcion{color:#fff;font-size:19.2px;font-size:1.2rem}.Mision{position:absolute;background:#fff;right:0;width:80%;-webkit-clip-path:polygon(0 100%,100% 0,100% 100%);clip-path:polygon(0 100%,100% 0,100% 100%);height:117%;top:30%;box-sizing:border-box;padding-top:17em;text-align:center;display:flex;flex-direction:column;align-items:center;padding-left:30em;color:#838383}.Mision .descripcion{margin-top:0;width:50%}.Mision .valores{padding:0;margin:0;list-style:none;text-align:justify}
body
	section.Portada
		.videoContenedor
			video.video(src="img/pelicula.mp4" autoplay loop)
		header.header
			figure.logo
				img.img(src="img/logo.png", alt="logo")
			ul.menu
				li.item
					a(href="#") Información
				li.item
					a(href="#") Portafolio
				li.item
					a(href="#") Contacto
		.copy
			h1.title Ponemos color a tus ideas
			h2.subtitle Contamos con un amplio portafolio de servicios
			a.btn(href="#") contactanos
		section.Informacion
			img(src="img/sketchbook.png", alt="sketchbook").img
			p.descripcion En SERVIDIGITALES disponemos de instalaciones propias con equipos de última tecnología en procesos de impresión offset, preprensa CTP, impresión digital y gran formato que nos permite brindar soluciones gráficas de comunicación las cuales su negocio o empresa requieren.
		section.Mision
			h3.title Misión
			p.descripcion Brindamos servicios de pre-prensa digital e impresión gráfica a nuestros clientes para satisfacer sus necesidades con calidad, servicio y cumplimineto. 
		
			h3.title Visión
			p.descripcion Para el año 2018 consolidarnos con nuestros clientes como un proveedor confiable en productos de pre-prensa digital e impresión gráfica por calidad, servicio y entrega oportuna.
	
			h3.title Valores
			ul.valores
				li!= "<span class='fas fa-check'></span> Excelencia"
				li!= "<span class='fas fa-check'></span> Responsabilidad"
				li!= "<span class='fas fa-check'></span> Compromiso"
				li!= "<span class='fas fa-check'></span> Creatividad "
				li!= "<span class='fas fa-check'></span> Servicio"

	section.Servicios
		.overlay
			h2.title Servicios
	section.Productos
		.item
			.contenedor
				.imagen
					img(src="img/producto-01.jpg", alt="producto-01").img
				.informacion
					h3.title Servicios de souvenir
					p.descripcion ¿Que mensaje le escribirías a esa persona especia? Regala amor a quien amor se merece.
					a.btn(href="#") Ver más
		.item
			.contenedor
			
				.informacion
					h3.title Mejoras a tu entorno
					p.descripcion En Servidigital convertimos tus espacios en verdaderas Obras de arte!! Impresión Digital en Lienzo, y decora tus espacios con el mejor estilo. Trae tu Imagen favorita y nosotros la convertimos en un espectacular cuadro para la pared de tu sala, habitación, oficina, o lo que gustes!!
					a.btn(href="#") Ver más
				.imagen
					img(src="img/producto-02.jpg", alt="producto-02").img
		.item
			.contenedor
				.imagen
					img(src="img/producto-03.jpg", alt="producto-03").img
				.informacion
					h3.title Mejoras a tu entorno
					p.descripcion En Servidigital convertimos tus espacios en verdaderas Obras de arte!! Impresión Digital en Lienzo, y decora tus espacios con el mejor estilo. Trae tu Imagen favorita y nosotros la convertimos en un espectacular cuadro para la pared de tu sala, habitación, oficina, o lo que gustes!!
					a.btn(href="#") Ver más
	section.Contacto
		.contenedor
			.item
				.cuadrado
					span.fas.fa-shopping-bag
				.informacion
					h2.title Portafolio
					p.descripcion Lorem ipsum dolor sit.
				a.btn(href="#") Ver más
			.item
				.cuadrado
					span.far.fa-envelope
				.informacion
					h2.title Contacto
					p.descripcion Lorem ipsum dolor sit.
				a.btn(href="#") Ver más
			.item
				.cuadrado
					span.far.fa-user
				.informacion
					h2.title Información
					p.descripcion Lorem ipsum dolor sit.
				a.btn(href="#") Ver más
	footer.Footer
		.contenedor
			.item
				h3.title Sede norte
				ul.menu
					li Cra. 45B No. 88 - 63
					li PBX: (57) 311 2630
					li Cel: 300 874 50099
			.item
				h3.title Sede Centro
				ul.menu
					li Calle 42 No. 41 - 111
					li PBX: (57) 311 25630
					li Cel: 317 501 7782
			.item
				a(href="#") Servicios
				a(href="#") Portafolio
				a(href="#") Contacto
			.item
				h3.title Redes Sociales
				ul.menu.social
					li
						a(href="#")
							span.fab.fa-facebook
					li
						a(href="#")
							span.fab.fa-instagram
					li
						a(href="#")
							span.fab.fa-twitter-square
		.copyright
			h4.derechos SERVIDIGITAL 2018 - Todos los derechos reservados
			p.desarrolladores!= "Diseño y Desarrollo por <a href=''>Gustavo Suáres</a> y <a href='http://jesusrojas.com.ve' target='_blank'>Jesús Rojas</a>"
	link(rel="stylesheet", href="css/estilos.css")